@model OPSystemFirst.Models.SignUp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SignUp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlateNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlateNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SignUpId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
